@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}

body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
}

div{
    Width: 920px;
    Height: 509px;
    outline: solid red;
}